html {
  width: 90%;
  position: relative;
  left: 5%;
}

#loginModal, #createModal {
  width: 290px;
  top: 100px;
}

.modal-header {
  border-bottom: 2px solid #980000 !important;
}

#user {
  color: white;
  text-align: center;
  margin-top: 11px;
  margin-left: 33px;
}

#user span {
  color: #CC66CC;
}
#header {
  margin-left: 0px;
  position: relative;
  left: 4.5%;
  margin-bottom: 15px;
}

#header h1 {
  font-size: 52px;
  height: 0px;
  margin: -24px;
  text-align: center;
}

#left_col {
  background-color: blue;
  border-radius: 6px;
  width: 30%;
  height: 800px;
    display: inline-block;
}

#right_col {

}
