/*.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}*/

.navbar-inner{
    width: 100%;
}

#loginModal {
  width: 290px;
  top: 100px;
}

.modal-header {
  border-bottom: 2px solid #980000 !important;
}


/*.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

#posts {
  width: 90%;
  background-color: rgba(64,64,64,0.4);
  border-radius: 10px;
  padding: 10px;

}

span {
  color: blue;
}

#post_text {
  font-weight: bold;
  color: black;
}
*/
