<div class='container'>
<form name='create_account' method='post' action='/create_account'>
  <input type='text' name='email' placeholder='e-mail'><br>
  <input type='password' name='password' placeholder='password'><br>
  <button>Submit</button>
</form>
</div>