
<ul class="nav">
  <li><a href="/">Home</a></li>
  <% if @user %>
  <li><a href="/about/">logout</a></li>
  <% else %>
  <li><a href="/about/">login</a></li>
  <li><a href="/about/">create account</a></li>
  <%end%>
</ul>

<div class="container">
  <h1>Welcome to Bloggerton Blog</h1>
  <p>Here are the latest posts</p>
  <% if @posts %>
    <div id='posts'>
      <% @posts.each do |post| %>
        <%= @posts.title %>
        <p><%= @posts.body %></p>
      <%end%>
    </div>
  <%end%>


  
</div>
