<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/bootstrap.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/signup.js"></script>
  <script src="/js/bootstrap.js"></script>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="/">Bloggerton</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <% if current_user %>
        <li><a href="/logout">logout</a></li>
        <ul id='user_ul'>
          <li id='user'>Logged in as: <span><%= user %></span></li>
        </ul>
      <% else %>
        <li><a id="login_li" href="#" role="button" data-toggle='modal'>Login</a></li>
        <li><a id="create_li" href="#">Create Account</a></li>
      <%end%>
    </ul>
  </div>
</div>
  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
