<div class='container'>
<form name='login_user' method='post' action='/login'>
  <input type='text' name='email' placeholder='e-mail'><br>
  <input type='password' name='password' placeholder='password'><br>
  <button>Submit</button>
</form>
</div>